.specific-photo {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    border-radius: 15px;
}

.photo-display-outer {
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 80%;
    height: 70%;
    border-radius: 15px;
    background-color: #2B7A78;
    box-shadow: 5px 10px #17252A;
}

.photo-title {
    font-family: Montserrat, sans-serif;
    color: #DEF2F1;
    text-shadow: 2px 2px 2px #17252A;
    text-align: center;
}

.photo-description {
    font-family: Source Sans Pro, sans-serif;
    font-size: 20px;
    color: #3AAFA9;
    text-align: center;
}

.photo-buttons {
    margin-left: 40%;
}

.edit-button,
.delete-button {
    background-color: #3AAFA9;
    color: #DEF2F1;
    height: 30px;
    width: 15%;
    text-transform: uppercase;
    font-family: Source Sans Pro, sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #3AAFA9;
    border-radius: 5px;
    margin: 8px;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #2B7A78;
    color: #DEF2F1;
}