.specific-photo {
    height: 100%;
    width: 100%;
    margin: auto;
}

.photo-display-outer {
    /* overflow: hidden;
    display: block;
    position: relative;
    width: 400px;
    height: 550px;
    border-radius: 15px;
    background-color: #2B7A78;
    box-shadow: 5px 10px; */
}

.specific-photo {
    display: inline-block;
    justify-content: center;
    margin: 20px;
}

.photo-title,
.photo-description {
    font-family: Montserrat, sans-serif;
    margin: 10px;
    color: #DEF2F1;
    text-shadow: 2px 2px 2px #17252A;
    text-align: center;
}

.edit-button,
.delete-button {
    background-color: #2B7A78;
    color: #FEFFFF;
    border-radius: 5px;
    margin: 5px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #DEF2F1;
    color: #2B7A78;
}