.profile-image {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
}

li {
    list-style: none;
}

.welcome {
    text-shadow: 1px 1px 1px #2B7A78;
}
.welcome,
.meet-users {
    text-align: center;
    font-family: Montserrat;
}

.home-outer-div {
    display: grid;
    width: 80%;
    height: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 45px;
    border-radius: 15px;
    background-color: #2B7A78;
    box-shadow: 5px 10px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.user-profiles-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 80px;
    margin-top: 35px;
    margin-left: 15px;
    padding: 20px;
    text-align: center;
}


.user-usernames {
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    color: #3AAFA9;
    text-shadow: 0px 1px 0px #17252A;
}