.profile-image {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
}

li {
    list-style: none;
}

.welcome,
.meet-users {
    color: #DEF2F1;
    text-shadow: 2px 2px 2px #17252A;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

.home-outer-div {
    display: grid;
    width: 80%;
    height: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 45px;
    border-radius: 15px;
    background-color: #2B7A78;
    box-shadow: 5px 10px #17252A;
    margin-left: 10%;
    margin-bottom: 20px;
    overflow: scroll;
}

.user-profiles-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 80px;
    margin-top: 35px;
    margin-left: 15%;
    padding: 20px;
    text-align: center;
}


.user-usernames {
    font-family: Source Sans Pro, sans-serif;
    color: #3AAFA9;
    text-shadow: 1px 1px 0px #17252A;
}