.outer-navigation {
    color: #17252A;
    text-align: center;
}

.navbar_container {
    margin-top: 20px;
    margin-left: 29%;
    justify-content: center;
    background-color: #DEF2F1;
    padding: 10px;
    border: 1px solid #2B7A78;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 2px #2B7A78;
    width: 500px;
}

.navigation {
    top: 7px;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #DEF2F1;
    margin: auto;
}

.home_button,
.album_button,
.demo_user,
.profile-button {
    background: #3AAFA9;
    color: #FEFFFF;
    border: 2px solid #2B7A78;
    border-radius: 2px;
    height: 30px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
}

.demo_user {
    margin-top: 5px;
    margin-left: 5px;
}

.home_button:hover,
.album_button:hover,
.demo_user:hover,
.profile-button:hover {
    background-color: #2B7A78;
    color: #DEF2F1;
}

.profile-photo {
    height: 60px;
    width: 60px;
    margin: 20px;
    border-radius: 50%;
}

.bar {
    margin: 5px;
    display: block;
    transition-duration: 0.5s;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

.bar:hover {
    cursor: pointer;
}

.create-album,
.user-page {
    text-decoration: none;
    color: #17252A;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    text-shadow: 2px 2px 5px #2B7A78;
}

.create-album:hover,
.user-page:hover {
    color: #2B7A78;
}

.profile-icon {
    font-size: 20px;
    color: #DEF2F1;
}


.dropdown-div {
    text-align: center;
}

.profile-dropdown {
    margin: 0px;
    padding: 0px;
    position: absolute;
    justify-content: center;
    background-color: #DEF2F1;;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
    box-shadow: 1px 1px 1px #2B7A78;
    border: 2px solid #2B7A78;
    border-radius: 5px;
}

.profile-dropdown li {
    padding: 5px; 
    margin: 5px;
    list-style: none;
    text-align: center;
}

.list-dropdown {
    font-family: Montserrat, sans-serif;
    color: #17252A;
    font-weight: 600;
}

.user-logout-button {
    background: #3AAFA9;
    color: #DEF2F1;
    border: 2px solid #2B7A78;
    border-radius: 2px;
    height: 30px;
    text-transform: uppercase;
}

.user-logout-button:hover {
    background-color: #2B7A78;
    color: #DEF2F1;
}
