.outer-navigation {
    color: #17252A;
    text-align: center;
}

nav {
    margin: 25px;
    background: #DEF2F1;
    padding: 10px;
    border: 1px solid #2B7A78;
}

.navigation {
    list-style: none;
    display: flex;
}

.profile-photo {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
}

.bar {
    margin: 5px;
    display: block;
    transition-duration: 0.5s;
    text-align: center;
}

.bar:hover {
    cursor: pointer;
}

.home,
.signup,
.login,
.create-album,
.user-page {
    text-decoration: none;
    color: #17252A;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    text-shadow: 2px 2px 5px #2B7A78;
}

.home:hover,
.signup:hover,
.login:hover,
.create-album:hover,
.user-page:hover {
    color: #2B7A78;
}

.profile-icon {
    font-size: 20px;
    color: #DEF2F1;
}

.profile-button {
    padding: 5px;
    margin: 0 10px;
    background: #3AAFA9;
    border: 2px solid #17252A;
}

.profile-button:hover {
    background: #2B7A78;
}

.profile-dropdown {
    margin: 5px;
    height: 250px;
    width: 200px;
    border: 1px #000;
    background-color: #3AAFA9;
}

.profile-dropdown li {
    padding: 5px; 
    margin: 5px;
    list-style: none;
}

.user-logout-button {
    background: #17252A;
    color: #DEF2F1;
    border: 2px solid #17252A;
    height: 30px;
    text-transform: uppercase;
}

.user-logout-button:hover {
    background: #2B7A78;
    color: #DEF2F1;
}